<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    #test {
      width: 100px;
      height: 100px;
      background-color: brown;
    }
  </style>
</head>
<body>
  <div id="test"></div>
  <!-- <script src="/b.js"></script> -->
  <script src="http://hammerjs.github.io/dist/hammer.min.js"></script>
  <script>
    var hammerTest = new Hammer(document.getElementById('test'));
    hammerTest.get('pinch').set({
      enable: true
    });
  </script>
</body>
</html>